<div class="row section featured topspace">

    <h2 class="section-title"><span>Education</span></h2>

    <div id="education">
        <div class="education-block">

            <h3>Carnegie Mellon University</h3>
            <span class="education-date">Aug 2017 - May 2019</span>
            <h5>Master of Science in Management & Data Analytics (Distinction)</h5>
            <p>
                Machine Learning; Into to Deep Learning; Fundamental of Programming & CS; Python for Developers; Data Science & Big Data; Unstructured Data Analytics; Programming R for Analytics; Database Management; Large Scale Data Computing; Advanced Business Analytics
            </p>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>University of California, Berkeley</h3>
            <span class="education-date">Jan 2016 - Jan 2017</span>
            <h5>Exchange Student in Economics</h5>
        </div>
        <!-- End .education-block -->
    </div>
    <!-- End #education -->

</div> <!-- / section -->



<!--  -->